/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@font-face { font-family: Proxima Nova Thin; src: url('Proxima Nova Thin.otf'); } 

body{
      background-color: #1A659E;
      font-family: montserrat, arial, verdana;
}

#body1,#body2{
    background-color: #EFEFEF;
    height: 100%;
    margin: 0;
}
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li >a{
    color: #ffffff;
    padding: 10px;
    margin-top: 12px;
    margin-right: 15px;
    font-size: 14px;
}
.navbar-brand{
    color: #ffffff;
    margin-top: 8px;
    font-size: 26px;
    margin-left: 20px;
}
.navbar{
background-color: #1A659E;
    height: 65px;
}
.navFonts{

}
#casey{
padding: 0px;
margin-top: 10px;
margin-bottom: 5px;
margin-right:40px;
border: 1px solid white;
border-radius: 20px;
background-image:url(varun.jpg);
}
    

.card{
background-color:white;
height:350px;
}
.othercards{
background-color:white;

text-align: center;
}
.headings{
font-size: 28px;
font-family: 'Open Sans', sans-serif;
padding: 10px;
}
.fields{
    background: #f2f2f2;
    width: 100%;
    height: 46px;
    border: 0px solid grey;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
} 

#full {
  border: 0px solid grey;
  background: #f2f2f2;
  width: 100%;
  height: 46px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 0px;
}
.con{
	margin:0px;
}

.add1{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height:48px;
    width:48px; 
    border-radius:24px;     
    font-size: 22px;
}

/* For the Date of Birth Placeholder*/
.dateclass{
    width:100%;
}

.dateclass.placeholderclass::before{
    width:100%;
    content:attr(placeholder);
}

.dateclass.placeholderclass:hover::before{
    width:0%;
    content:"";
}/* For the Date of Birth Placeholder*/

.upcomingcards{
    background-color: #ffffff;
    font-size: 12px;

    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding: 15px;
    align-content:center;
    border-radius: 1px 1px 1px 1px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.smallTitles{
    color: #828282;
}
.nav .nav-pills{
    margin-top: 40px;
    color: #ffffff;
    font-size: 14px;
}
#cover{
    margin-top: 80px;
    background-color: #FFFFFF;
    height: 300px;
    background-size:100%; 
    display:block;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);

}
.content{
    background-color: #FFFFFF;
    padding: 10px;
    /*box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);*/
    
    display: inline-block;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
 
}
#nameplate{
    background-color: #303F9F;
    background-image:url(wall.jpg);
    height: 200px;
    margin-bottom:0px;
    background-size:100%; 
    display:block;
    padding:0 !important;
}
#photo{
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: 3px solid white;
    background-image:url(varun.jpg);
    background-size:100%; 
    z-index: 10;
    margin: 0 auto;
    margin-top: -120px;
    bottom: 50px;
}
.tabs .indicator{
    background-color: #303F9F;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}
#name{
    font-size: 26px;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
}
#profilecards{
    float: left;
    margin: 0px;
}
.container {            /*WAS GETTING OVERRIDDEN BY MATERIALIZE*/
    margin: 0 auto;
    max-width: none;
    width: 90%;
}

.masonry { /* Masonry container */
    column-count: 2;
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}





/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

/*body {
	font-family: montserrat, arial, verdana;
}*/

/*form styles*/
#msform {
	width: 700px;
	margin: 20px auto;
    margin-bottom: 30px;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
/*aartis css */
input:disabled {
    color:black;
}
#modal1,#updatesurgery {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 75%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
.datepicker{
    z-index:1751 !important;
}
h4{
    font-weight: 100;
}
.doseNumber{
    margin-left: 60px;  
    float: left;
    padding-top: 22px;
    padding-bottom: 22px;
}
.vaccineName{
    font-family: Open Sans;
    font-weight: 400;
    color: #303F9F;
    float: left;
    margin-left: 20px;s
}
.docName{
    font-family: Open Sans;
    font-weight: 400;
    color: #303F9F;
}



